 .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius:100px;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: rgb(0, 0, 0);
    cursor: pointer;
    border-radius:100px;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
  }
  
  .btn_start{
    background-color: rgb(112, 233, 116);
    border-radius: 17px;
  }
  
  .btn_stop{
    background-color: rgb(248, 122, 122);
    border-radius: 20px;
  }

  .btn:hover{
    transform: scale(1.03) perspective(1px);
    -webkit-box-shadow: 0px 0px 21px -5px rgb(179, 179, 179);
    -moz-box-shadow: 0px 0px 21px -5px rgba(179,179,179);
    box-shadow: 0px 0px 21px -5px rgba(179,179,179);
    transition: 0.3s;
  }